<div class="container cocktails-container">
  <h1 class="text-center mb-5">Cocktails</h1>
  <div class="cocktails row justify-content-around">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card card mb-5" style="width: 18rem;">
      <%= link_to cocktail_path(cocktail) do %>
      <div class="cocktail-card__image">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class: 'card-img-top' %>
        <% end %>
      </div>
      <% end %>
      <div class="card-body cocktail-card__body">
      <%= link_to cocktail_path(cocktail) do %>
        <h5 class="card-title text-center"><%= cocktail.name %></h5>
      <% end %>
      <%= link_to cocktail_path(cocktail), method: :delete, data: {confirm: 'Are you sure?'} do %>
        <i class="fas fa-trash delete-icon cocktail-card__body__btn-delete"></i>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
